<<<<<<< HEAD
body {
    background-color: aquamarine;
    margin: 0;
}
.header {
    background-color: blueviolet;
    height: 200px;
}
=======
.footer {
    background-color: brown;
    height: 200px;
}
>>>>>>> rama1
